.light-nav-shadow{
    border-bottom: solid #111827 1px; 
}
.dark-nav-shadow{
    border-bottom: solid rgb(247, 239, 239) 1px; 
}

.logo {
    font-family: "Pacifico", cursive;
    font-weight: bold;
}